@font-face {
  font-family: 'IRANSans-web';
  src: url('src/assets/fonts/IRANSans-Bold-web.eot');
  src: url('src/assets/fonts/IRANSans-Bold-web.eot?#iefix') format('eot'), 
  url('src/assets/fonts/IRANSans-Bold-web.woff') format('woff'), 
  url('src/assets/fonts/IRANSans-Bold-web.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url('src/assets/fonts/IRANSans-Medium-web.eot');
  src: url('src/assets/fonts/IRANSans-Medium-web.eot?#iefix') format('eot'), 
  url('src/assets/fonts/IRANSans-Medium-web.woff') format('woff'), 
  url('src/assets/fonts/IRANSans-Medium-web.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url('src/assets/fonts/IRANSans-UltraLight-web.eot');
  src: url('src/assets/fonts/IRANSans-UltraLight-web.eot?#iefix') format('eot'), 
  url('src/assets/fonts/IRANSans-UltraLight-web.woff') format('woff'), 
  url('src/assets/fonts/IRANSans-UltraLight-web.ttf') format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url('src/assets/fonts/IRANSans-Light-web.eot');
  src: url('src/assets/fonts/IRANSans-Light-web.eot?#iefix') format('eot'), 
  url('src/assets/fonts/IRANSans-Light-web.woff') format('woff'), 
  url('src/assets/fonts/IRANSans-Light-web.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url('src/assets/fonts/IRANSans-web.eot');
  src: url('src/assets/fonts/IRANSans-web.eot?#iefix') format('eot'), 
  url('src/assets/fonts/IRANSans-web.woff') format('woff'), 
  url('src/assets/fonts/IRANSans-web.ttf') format('ttf');
  font-weight: normal;
}